<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temas</title>
    <link rel="stylesheet"
        href=/CatalogoDecoracoes/styles/style.css">

</head>

<body>
    <header>
        <a href="/CatalogoDecoracoes/Home.html"
            class="Cats">Voltar</a>
        <h1>Temas - Cilindros com arco</h1>
    </header>
    <section id="galeria">

    </section>
    <script src="\CatalogoDecoracoes\Interaction\Temas.js"></script>
</body>

</html>
